/* Add CSS Styling */

.primero,
.cool-guy {
    color: black;
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.cool-guy {
    font-size: 24px;
}

#bigboy {
    color: blue;
    font-size: 36px;
}

#greengobbler {
    background-color: greenyellow;
    font-size: 24px;
    font-weight: bold;
}